<h2>Associate Membership for <%=Time.current.year%> ($75)</h2>
<p>This membership level is eligible to:</p>
<ul>
<li>Committee and board members of camp, conference or retreat ministries</li>
<li>Volunteers related to camp, conference or retreat ministries who are not serving in a supervisory capacity</li>
<li>Retired staff of camp, conference or retreat ministries</li>
<li>Members of churches and governing bodies who support the mission, goals, and ministry of PCCCA</li>
<li>Former members of PCCCA who have been selected for Lifetime Achievement by the Board and have been extended Emeritus Status in the organization (no annual dues are required)</li>
<li>This membership level does not include the special company discounts.</li>
</ul>
<%= form_tag("memberships", method: "post", class: "form-inline", id: "memForm") do%>
  <%=hidden_field_tag "type", "Student"%>
  <%=hidden_field_tag "price", "75"%>
  <div class="row mb-4">
    <%=fields_for 'members[]', @members[0] do |m|%>
      <div class="form-group col-sm-12">
        <%=m.label :first_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :first_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :last_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :last_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=label_tag :address1, "Address", class: "col-md-2", style: "justify-content: flex-end"%>
        <%=text_field_tag :address1, "", class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=label_tag :address2, "", class: "col-md-2", style: "justify-content: flex-end"%>
        <%=text_field_tag :address2, "", class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=label_tag :city, "City", class: "col-md-2", style: "justify-content: flex-end"%>
        <%=text_field_tag :city, "", class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=label_tag :state, "State/Province", class: "col-md-2", style: "justify-content: flex-end"%>
        <%=text_field_tag :state, "", class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=label_tag :zipcode, "Postal Code", class: "col-md-2", style: "justify-content: flex-end"%>
        <%=text_field_tag :zipcode, "", class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :email, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :email, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :phone_number, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :phone_number, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <%=m.hidden_field :membership_type, value: "2yr_Org_Individual"%>
      <%=m.hidden_field :valid_year, value: Time.current.year%>
    <%end%>
  </div>

  <button type="submit" id="submit" class="btn btn-primary btn-block mb-5">Register for Associate Membership</button>
<% end %>

<script>
  $(document).ready(function () {
    $("#memForm").submit(function () {
      jQuery("#submit").prop("disabled",true)
      jQuery("#submit").html("Please Wait, we are processing your registration.")
      return true;
    });
  });
</script>
