<h2>Business Membership for 2019 ($540)</h2>
<p>Your business or organization has the opportunity to make important connections with Presbyterian camps and conference centers. If you have products and services that could support the ministries of these 150 sites in the United States and Canada, you will want to consider a membership that offers visibility through PCCCA’s enewsletters, website and Facebook page; use of the business member logo; and priority access and discounts on exhibit hall booths and sponsorship opportunities. To learn more about this program, please see the <%=link_to "PCCCA Business Membership brochure", "http://www.pccca.net/images/pdfs/BusinessMembership.pdf"%>.</p>
<p>This membership level receives:</p>
<ul>
  <li>priority status for exhibit hall registration at the OMC Great Gathering</li>
  <li>10% discount on exhibit hall booth registration and sponsorship opportunities at the OMC Great Gathering</li>
  <li>use of the PCCCA business member logo for your website and publications</li>
  <li>a listing on the new Business Membership page on the PCCCA website</li>
  <li>a new member announcement in PCCCA’s enewsletter</li>
  <li>one new product announcement on PCCCA’s Facebook page</li>
  <li>one "From One of Our Business Members" article in PCCCA’s enewsletter</li>
  <li>one postal mailing using the PCCCA mailing list (you ship the mailing with postage to us and we send it with mailing labels that include the name of the decision makers at all 150 Presbyterian camps and conference centers in the United States and Canada)</li>
</ul>
<%= form_tag("memberships", method: "post", class: "form-inline", id: "memForm") do%>
  <%=hidden_field_tag "type", "Organizational"%>
  <%=hidden_field_tag "price", "540"%>
  <div class="row mb-4">
    <div class="form-group col-sm-12">
      <%=label_tag :organization, "Business/Organization", class: "col-md-2", style: "justify-content: flex-end"%>
      <%=text_field_tag :organization, "", class: "form-control ml-3 mb-2 col-md-6"%>
    </div>
    <div class="form-group col-sm-12">
      <%=label_tag :address1, "Address", class: "col-md-2", style: "justify-content: flex-end"%>
      <%=text_field_tag :address1, "", class: "form-control ml-3 mb-2 col-md-6"%>
    </div>
    <div class="form-group col-sm-12">
      <%=label_tag :address2, "", class: "col-md-2", style: "justify-content: flex-end"%>
      <%=text_field_tag :address2, "", class: "form-control ml-3 mb-2 col-md-6"%>
    </div>
    <div class="form-group col-sm-12">
      <%=label_tag :city, "City", class: "col-md-2", style: "justify-content: flex-end"%>
      <%=text_field_tag :city, "", class: "form-control ml-3 mb-2 col-md-6"%>
    </div>
    <div class="form-group col-sm-12">
      <%=label_tag :state, "State/Province", class: "col-md-2", style: "justify-content: flex-end"%>
      <%=text_field_tag :state, "", class: "form-control ml-3 mb-2 col-md-6"%>
    </div>
    <div class="form-group col-sm-12">
      <%=label_tag :zipcode, "Postal Code", class: "col-md-2", style: "justify-content: flex-end"%>
      <%=text_field_tag :zipcode, "", class: "form-control ml-3 mb-2 col-md-6"%>
    </div>
    <div class="col-sm-12">If your company/organization is currently providing a <a href="http://www.pccca.net/images/pdfs/MemberBenefitProviders.pdf" target="_blank">special benefit for PCCCA/LOM/UMCRM/OMA-UCC members</a>, you receive the discounted rate of $440 for PCCCA Business Membership.</div>
    <div class="form-check col-sm-12">
      <%=check_box_tag "provide_benefit", "yes", false, class: "form-check-input"%>
      <div class="ml-3 mb-2 col-md-6 form-check-label" for="provide_benefit">Yes, our business appears on the list and qualifies for this discount.</div>
    </div>
  </div>

  <div class="row mb-4">
    <p><strong>Staff Person</strong> (you may list up to three, but must list at least one)</p>
    <%=fields_for 'members[]', @members[0] do |m|%>
      <div class="form-group col-sm-12">
        <%=m.label :first_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :first_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :last_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :last_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :email, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :email, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :phone_number, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :phone_number, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <%=m.hidden_field :membership_type, value: "Business_Staff"%>
      <%=m.hidden_field :valid_year, value: Time.current.year%>
    <%end%>
  </div>

  <div class="row mb-4">
    <%=fields_for 'members[]', @members[1] do |m|%>
      <div class="form-group col-sm-12">
        <%=m.label :first_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :first_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :last_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :last_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :email, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :email, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :phone_number, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :phone_number, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <%=m.hidden_field :membership_type, value: "Business_Staff"%>
      <%=m.hidden_field :valid_year, value: Time.current.year%>
    <%end%>
  </div>

  <div class="row mb-4">
    <%=fields_for 'members[]', @members[2] do |m|%>
      <div class="form-group col-sm-12">
        <%=m.label :first_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :first_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :last_name, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :last_name, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :email, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :email, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <div class="form-group col-sm-12">
        <%=m.label :phone_number, class: "col-md-2", style: "justify-content: flex-end"%>
        <%=m.text_field :phone_number, class: "form-control ml-3 mb-2 col-md-6"%>
      </div>
      <%=m.hidden_field :membership_type, value: "Business_Staff"%>
      <%=m.hidden_field :valid_year, value: Time.current.year%>
    <%end%>
  </div>

  <button type="submit" id="submit" class="btn btn-primary btn-block mb-5">Register for Business Membership</button>
<% end %>

<script>
  $(document).ready(function () {
    $("#memForm").submit(function () {
      jQuery("#submit").prop("disabled",true)
      jQuery("#submit").html("Please Wait, we are processing your registration.")
      return true;
    });
  });

  jQuery("#provide_benefit").change(function() {
    if ($('#provide_benefit').is(':checked')) {
      $("#price").val(parseInt(440))
      $("h2").html("Business Membership for <%=Time.current.year%> ($440)")
    }else{
      $("#price").val(parseInt(540))
      $("h2").html("Business Membership for <%=Time.current.year%> ($540)")
    }
  });
</script>
