<div class="row mt-3">
  <div class="col-sm text-center">
    <%=link_to "Org Membership", "/memberships?type=org"%>
  </div>
  <div class="col-sm text-center">
    <%=link_to "2 Year Org Membership", "/memberships?type=twoyrorg"%>
  </div>
  <div class="col-sm text-center">
    <%=link_to "Business Membership", "/memberships?type=bus"%>
  </div>
  <div class="col-sm text-center">
    <%=link_to "Associate Membership", "/memberships?type=assoc"%>
  </div>
  <div class="col-sm text-center">
    <%=link_to "Small Camp Membership", "/memberships?type=small"%>
  </div>
  <div class="col-sm text-center">
    <%=link_to "Student Membership", "/memberships?type=student"%>
  </div>
</div>

<hr>

<div class="col-sm-12 mt-3">
  <table class="table table-striped" id="membership_table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Organization</th>
        <th scope="col">Membership Type</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Valid Year</th>
      </tr>
    </thead>
    <tbody>
      <%@members.each do |member|%>
        <tr>
          <td><%='<span class="oi oi-ban" style="color:red" data-toggle="tooltip" data-placement="top" title="Payment Error" aria-hidden="true"></span>'.html_safe if member.payment_id == "pending"%> <%=member.first_name%> <%=member.last_name%></td>
          <td><%=link_to "#{member.email}", "mailto:#{member.email}"%></td>
          <td><%=member.organization%></td>
          <td><%=member.membership_type%></td>
          <td><%=member.payment_date%></td>
          <td><%=member.valid_year%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
      $('#membership_table').DataTable({
        order: [[ 4, 'desc' ], [ 2, 'asc' ]]
      });
  } );
</script>
